<div class="container">
    <div class="text-content">
      <h2>Join Our Angular + .NET Full Stack Development Program!</h2>
      <p>
        Enroll today to master full-stack web development with Angular and .NET Core. Gain hands-on experience in building powerful, scalable applications using the latest technologies, and take the next step toward becoming a proficient full-stack developer.
      </p>
      <div>
        <form class="form-container">
            <div class="form-group">
              <div class="form-field">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Your Name" />
              </div>
              <div class="form-field">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Your Email" />
              </div>
            </div>
        
            <div class="form-group">
              <div class="form-field">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" placeholder="Your Phone Number" />
              </div>
              <div class="form-field">
                <label for="course">Course</label>
                <select id="course">
                  <option>Angular + .NET Full Stack Dev</option>
                  <option>MERN Stack</option>
                  <option>Java Full Stack</option>
                  <option>Python + Django</option>
                </select>
              </div>
            </div>
        
            <div class="form-field" style="margin-bottom: 20px;">
              <label for="message">Message</label>
              <textarea id="message" placeholder="Why are you interested in Full Stack Development?"></textarea>
            </div>
        
            <button type="submit" class="submit-btn">Submit</button>
          </form>
      </div>
    </div>

    
    <div class="image-content">
      <img src="/src/assets/img/enroll.png" alt="Full Stack Course Image" />
    </div>
  </div>