<div class="container">
    <div class="text-content">
      <h2>Description</h2>
      <p> Comprehensive .NET + Angular Full Stack Development Curriculum </p>
      <p>Join Urbancode's .NET + Angular Full Stack Development course to master the art of building dynamic, responsive, and scalable web applications. This course covers front-end development with Angular, back-end development with .NET Core, and database management with SQL Server. Gain hands-on experience with real-world projects, API integration, and modern deployment techniques. Our expert instructors will guide you in creating end-to-end applications while preparing you for in-demand career opportunities. With career support services like resume building, placement assistance, and access to a professional network, you’ll be ready to excel as a full-stack developer.</p>
    </div>

    
    <div class="box-content">
      <h1>This course includes</h1>
      <li>80+ hrs Instructor-Led Training & Hands-on Projects</li>
      <li>Full-Stack Application Portfolio Development</li>
      <li>Personalized Mentor Support</li>
      <li>Certificate of Proficiency in Full Stack Development</li>
      <li>Placement Assistance for All Candidates</li>
      <div class="buttons">
        <button>Get Broucher</button>
      </div>
    </div>

  </div>