<div class="test-uc">
    <h2>Testimonials</h2>
  </div>
  
    <div class="testimonial-container">
      <div class="testimonial-card">
        <div class="user-info">
          <div class="user-icon">👤</div>
          <div class="user-details">
            <div class="user-name">Millar Jayakumar</div>
            <div class="user-role">Software developer</div>
          </div>
        </div>
        <div class="stars">★★★★★</div>
        <p class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam aperiam nisi libero? Architecto nisi, sit quibusdam nemo officiis praesentium blanditiis ipsa minima repudiandae ipsam non reprehenderit quisquam voluptate vero?</p>
      </div>
  
      <div class="testimonial-card">
        <div class="user-info">
          <div class="user-icon">👤</div>
          <div class="user-details">
            <div class="user-name">Kannan Siva</div>
            <div class="user-role">Software developer</div>
          </div>
        </div>
        <div class="stars">★★★★★</div>
        <p class="quote">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente delectus distinctio aperiam? Recusandae optio impedit, quam inventore iste asperiores, consequuntur minima accusantium praesentium fugiat vel, sapiente odio fuga commodi ab!</p>
      </div>
  
      <div class="testimonial-card">
        <div class="user-info">
          <div class="user-icon">👤</div>
          <div class="user-details">
            <div class="user-name">Shyam Sundar</div>
            <div class="user-role">Software developer</div>
          </div>
        </div>
        <div class="stars">★★★★★</div>
        <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis expedita odit earum, ullam quidem debitis adipisci repellendus rem voluptatem libero, pariatur inventore fugit aliquam est dignissimos, hic voluptates veritatis consectetur!</p>
      </div>
    </div>
  